.social-icons {
  text-align: center;
  &__icon {
    background-color: $mainOrange;
    display: inline-block;
    padding: 0.4rem 1.3rem;
    width: 33%;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    &:nth-child(even) {
      margin-right: 0;
    }
    height: 72px;
    position: relative;
    @mixin atSmall {
      width: 72px; 
      margin-right: 1.7rem;
      &:nth-child(even) {
        margin-right: 1.7rem;
      }
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}